.section__setting {
  display: block;
  width: 100%;
  gap: 16px;
  margin-top: 90px;
  padding-left: 240px;
  padding-right: 20px;
}

.settings .tab__informations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin: var(--margin-24) 0;
}

.tab__informations .info {
  font-size: var(--fs-14);
  font-weight: var(--font-weight-600);
  color: gray;
}

.tab__informations .info:hover {
  color: var(--main-color);
}

.tab__showing {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--main-border);
  margin: 28 0 14 0;
}

.showing {
  border: none;
  background: transparent;
  font-size: var(--fs-16);
  padding: var(--padding-12);
  color: var(--main-btn);
  font-weight: 700;
}

.a__week {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 10px 0;
}

.a__week .btn__week {
  display: block;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: var(--transition-ease);
}

.a__week .btn__week.active {
  background-color: #a78bfa; /* Purple background for the active day (Monday in the image) */
  color: #fff;
}

.a__week .btn__week:hover {
  background-color: #a78bfa; /* Purple background for the active day (Monday in the image) */
  color: #fff;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  overflow: hidden;
}

table {
  display: block;
  background-color: var(--header-table-bg);
  font-weight: bold;
  margin-bottom: 10px;
  overflow-x: scroll;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #f8f9ff;
  font-weight: normal;
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
}

td {
  color: #333;
}

.input__data[type="text"] {
  width: 100%;
  padding: var(--padding-12);
  font-size: var(--fs-16);
  font-weight: var(--font-weight-600);
  border: 2px solid var(--main-border);
  border-radius: var(--border-radius-6);
  background-color: var(--sidebar-bg);
  color: gray;
}

.input__date[type="text"] {
  width: 100%;
  padding: var(--padding-12);
  font-size: var(--fs-16);
  font-weight: var(--font-weight-600);
  border: 2px solid var(--main-border);
  border-radius: var(--border-radius-6);
  background-color: var(--sidebar-bg);
  color: gray;
}

.input__data[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: #6b48ff;
  width: 20px;
  height: 20px;
}

.btn__save {
  padding: var(--padding-12);
  font-size: var(--fs-16);
  font-weight: var(--font-weight-600);
  border: 2px solid var(--main-border);
  border-radius: var(--border-radius-6);
  background-color: #6b48ff;
  color: var(--body-bg);
}

@media (max-width: 1024px) {
  .section__setting {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .a__week .btn__week {
    width: 100%; /* Full width for buttons in vertical layout */
    text-align: center;
  }
}
